{% load static %}
<link rel="stylesheet" href="{% static '/style.css' %}">
<header>
	<div class="overlay">
        <h1>Hash Analyzer</h1>
        <h3>by John Est</h3>
        <br>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-control">
                {{ form }}
                <button type="submit" class="btn">Upload</button>
            </div>
        </form>
        <body>
        <table class="table">
            <thead>
                <tr>
                    <th>Sha 256 Hash Value</th>
                    <th>Fortinet Detection Name</th>
                    <th>Number Of Engines Detected</th>
                    <th>Scan Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% if sha256 %}
                    <td>{{sha256}}</td>
                    {% else %}
                    <td>None</td>
                    {% endif %}
                    {% if fortinet %}
                    <td>{{fortinet}}</td>
                    {% else %}
                    <td>None</td>
                    {% endif %}
                    {% if length %}
                    <td>{{length}}</td>
                    {% else %}
                    <td>None</td>
                    {% endif %}
                    {% if date %}
                    <td>{{date}}</td>
                    {% else %}
                    <td>None</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>

    </body>
    </div>
        <h2>
            <a href="{% url 'previous' %}">Show Previous</a>
        </h2>
</header>
