{% load static %}
<link rel="stylesheet" href="{% static '/style.css' %}">
<header>
	<div class="overlay">
        <h1>Hash Analyzer</h1>
        <h3>by John Est</h3>
        <br>
        <body>
        <table class="table">
            <thead>
                <tr>
                    <th>Sha 256 Hash Value</th>
                    <th>Fortinet Detection Name</th>
                    <th>Number Of Engines Detected</th>
                    <th>Scan Date</th>
                </tr>
            </thead>
            <tbody>
                {% for data in hash_data %}
                <tr>
                    <td>{{data.hash_value}}</td>
                    <td>{{data.detection_name}}</td>
                    <td>{{data.engine_number}}</td>
                    <td>{{data.scan_date}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        </body>
    </div>
            <h2>
            <a href="{% url 'main' %}">Main</a>
        </h2>
</header>

