*{padding: 0; margin: 0; box-sizing: border-box;}
body{height: 900px;}
header {
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
	
}

.form-control{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
	margin: 20px;
	margin-bottom: 150px;
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
	margin-bottom: 30px;
}

h3, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

table {
    margin-left : auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 50px;
    width: 70%;
    font-family: 'Dancing Script', cursive;
    color: #FFF;
    font-size: 18px;
}

a, h2{
    color: red;
    text-decoration: none;
    border-bottom-style: none;
}